<nav class="navegador">
    <ul>
        <li><a href="/">Contacto</a> </li>
        <li><a href="/DatosPersonales">DATOS PERSONALES</a> </li>
        <li><a href="/ExperienciaProfesional"</a>EXPERIENCIA PROFESIONAL</li>
        <li><a href="/Portafolio"</a>PORTAFOLIO</li>
        <li><a href="/Servicios"</a>SERVICIOS</li>
    </ul>
</nav>